

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }
        mid {
            text-align: center;
            padding: 15px;

        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
<h1> Liste Location</h1>
<table class="table product-overview" id="myTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Localisation</th>
        <th>Prix</th>
        <th>Type</th>
        <th>places_dispo</th>


    </tr>
    </thead>
    <tbody>
    {% for location in locations %}
        <tr>
            <td>{{ location.id }}</td>
            <td>{{ location.description }}</td>
            <td>{{ location.localisation }}</td>
            <td>{{ location.prix }}</td>
            <td>{{ location.type }}</td>
            <td>{{ location.places_dispo }}</td>


        </tr>
    {% else %}
        <tr>
            <td colspan="5">Pas de location !</td>
        </tr>
    {% endfor %}

    </tbody>
</table>


</body>
</html>

